<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KoboldAI Trimmer</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="{{ url_for('css', css_filename='styles.css') }}">
    <link href="/static/css/tailwind.css" rel="stylesheet">
</head>
<body>
<div class="flex items-center justify-center h-screen flex-container">
    <form action="/" method="POST" enctype="multipart/form-data" class="bg-opacity-10 p-4 sm:p-8 rounded-lg shadow-lg w-full max-w-screen-md text-center transform scale-125 custom-form">
        <h1 class="text-2xl font-semibold mb-4">KoboldAI Trimmer</h1>
        <div class="flex items-center">
            <label for="file-upload" class="block cursor-pointer bg-purple-600 text-white px-3 py-2 rounded-full animation" id="file-label">
                <span id="file-label-text">Choose a File</span>
                <input type="file" name="file" id="file-upload" class="hidden" accept=".json">
            </label>
            <span id="file-name" class="ml-4 text-gray-500">No file chosen</span>
        </div>
        <label for="amount" class="block mt-4 mb-2">Number of context to retain:</label>
        <input type="number" name="amount" id="amount" value="10000" class="w-full p-2 border rounded-lg bg-opacity-50 shadow-md custom-input animation">
        <input type="submit" value="Save" class="block mx-auto mt-6 px-6 py-2 bg-purple-600 text-white rounded-full cursor-pointer custom-button animation">
    </form>
</div>
<script src="/static/js/index.js"></script>
</body>
</html>